<button type="submit" class="btn btn-primary" (click)="retournerAuChoix()">Retour</button>
<div class="card center-card" style="width: 18rem;">
    <div class="card-body">
        <form>
          <h3>Inscription au tournois individuel</h3>
          <br>
  <!-- Boutons radio -->
  <div class="row">
  <div>
    <h6>Tournois Choisi</h6>
  </div>
  <div>
    <label>
      <input type="radio" name="choix" value="option2" [(ngModel)]="tournoiChoisi" value="FIFAPS5"> FIFA PS5
    </label>
  </div>
  <div>
    <label>
      <input type="radio" name="choix" value="option3" [(ngModel)]="tournoiChoisi" value="FIFAXBOX"> FIFA XBOX
    </label>
  </div>
</div>

<br>

<h6> Inscription du joueur</h6>
  <!-- Liste dynamique des joueurs -->
  <div *ngFor="let mec of joueur" class="row align-items-center mb-2">
    <div class="col">
        <input type="text" class="form-control" id="nomJoueur" name="nomJoueur" [(ngModel)]="mec.nom" placeholder="Nom" required>
    </div>
    <div class="col">
        <input type="text" class="form-control" id="prenomJoueur" name="prenomJoueur" [(ngModel)]="mec.prenom" placeholder="Prénom" required>
    </div>
    <div class="col">
        <input type="date" class="form-control" id="dobJoueur" name="dobJoueur" [(ngModel)]="mec.dob" placeholder="Date de naissance" required>
    </div>
    <div class="col">
        <input type="text" class="form-control" id="pseudoJoueur" name="pseudoJoueur" [(ngModel)]="mec.pseudo" placeholder="Pseudo" required>
    </div>
</div>

  <br>
  <!-- Bouton de soumission -->
            <br>
            <button type="submit" (click)="submitForm()" class="btn btn-primary">Submit</button>
          </form>

    </div>
  </div>